<!DOCTYPE html>
{% extends 'main/base.html'%}
{% block link_block%}
    <link rel="stylesheet" href="/static/css/register.css">
{% endblock %}
{% block body_block %}
    <h2 class="text-center">
        Register Yourself
    </h2>
        <form method="post" class="container">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center">
                
                <button class="btn btn-success " type="submit">Register</button>
            </div>
            
        </form>
{% endblock %}