<!DOCTYPE html>
{% extends 'main/base.html' %}
{% block body_block %}
    <div class="container text-center">
        <H1>Welcome to Voice Blog</H1>
        <h3>This website is created by</h3>
        <h4>Himanshu mamgain</h4>
        <h5>Email: mamgainjii@gmail.com</h5>
        <p>Plzz mail us if you found any bugs | Suggestion are always welcomed 😁😁 </p>
        
        <hr>
    </div>
    <div class="container text-left">

        <h4 class="text-center">*****Acknowledgement****</h4>
        <h5></h5>This website took inspiration from folllowing projects: </h6>
        <ol>
            <li>Blog Project from Python-Django full stack web developments By Jose Portilla available on udemy</li>
            <li>Blog Project from codemy.com available on youtube</li>

        </ol>
    </div>
{% endblock %}