<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title_block %}
      VOICE BLOGS
      {% endblock %}
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    
    <!-- Medium Text Link
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8"> -->
    
    <link rel="stylesheet" href="/static/css/base.css">
    {% block link_block%}
    {%endblock%}
</head>
<body>
  <div class="container text-center" id="voice">
    <h1>VOICE BLOGS</h1>
    <h6>Explore Experiment Express</h6>
    <a class="nav-link" href="/admin">Admin</a>
  </div>
  <nav class="navbar  sticky-top" style="background-color: #e3f2fd;">
    <div class="container-fluid" >
      <div>
        <a class="navbar-brand" href="{% url 'main:home' %}">VOICE</a>
      </div>
      {% if user.is_authenticated %}
      <div id="user_name">
        <h2 class="text-center" >{{user.username}}</h2>
      </div>
      {% endif %}
      
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel" style="background-color: #e3f2fd;">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
          Hii, {{user.first_name}} {{user.last_name}}
          </h5>
          <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'main:home' %}">Home</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a href="{% url 'user:createBlog' user.username %}" class="nav-link" aria-current="page">Create Blog</a>

            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'user:myProfile' user.username %}">My Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'user:myBlogs' user.username %}">My Blogs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'user:myDrafts' user.username %}">My Drafts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'logout' %}"><b>Logout</b>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                  <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
              </a>
            </li>
            
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'main:home' %}">About</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'main:register' %}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}"><b>Login</b></a>
            </li>
            {% endif %}
            
          </ul>
        </div>
      </div>
    </div>
  </nav>
  
    {% block body_block%}
    {% endblock%}
    


    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>