<!DOCTYPE html>
{% extends 'main/base.html'%}
{% load my_filters %}
{% block body_block %}
{% include 'main/category_list.html' %}
    <div class="blogs">
        {% for blog in blogs %}
        <div class="blog container-fluid">
            <h6 class="text-center">{{blog.publish_date|date:"d/m/y"}}</h6>
            <hr>
            <a href="{% url 'blog-detail' blog.pk %}">
                <h4>{{blog.title}}</h4>
                <h6>By: {{blog.author.username}}</h6>
                <p>{{ blog.snippet }}</p>
            </a>
            <hr>
            <h5>
                Likes: {{ blog|test }}
            </h5>
                    
        </div>
        {% endfor %}
    </div>
{% endblock %}