<!DOCTYPE html>
{% extends 'main/base.html'%}
{% load my_filters %}
{% block body_block %}
    {% include 'main/category_list.html'%}
    {% if blogs %}
    <div class="blogs container-fluid">

        {% for blog in blogs %}
        <div class="blog container-fluid">
            <a href="{% url 'blog-detail' blog.pk %}">
                <h6 class="text-center">{{blog.publish_date|date:"d/m/y"}}</h6>
                <hr>
                <h4>{{blog.title}}</h4>
                <h6>By: {{blog.author.username}}</h6>
                <p>{{ blog.snippet }}</p>
                <hr>
                <div class="lV">
                    <h5>
                        Likes: {{ blog|test }}
                    </h5>
                    <h5>
                        Views: {{ blog|views_count }}
                    </h5>
                </div>
                
            </a>
            
        </div>
        {% endfor %}
    </div>
    {%else%}
    <h1 class="text-center">Sorry!! No Blogs in this Category</h1>
    {% endif %}
{% endblock %}