<!DOCTYPE html>
{% extends 'main/base.html'%}
{% block link_block%}
    <link rel="stylesheet" href="/static/css/register.css">
{% endblock %}
{% block body_block %}
    {% if user.profile.pk == pk%}
    <h2 class="text-center">
        Update Profile
    </h2>
        <form method="post" class="container" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center">
                
                <button class="btn btn-success " type="submit">Update</button>
                
            </div>
            
        </form>
    {% else %}
        <h2 class="text-center">Sorry!no such page exist.</h2>
    {% endif %}
{% endblock %}